$white: #fff;
$translucent-white: #d7ccc0;
$light: #f5f4f0;
$main: #fe8a02;
$basic-dark: #42413c;
$dark: #2a2626;
$translucent-dark: #908d8b;
$brown: #b09a81;
$blue: #1085c5;


body {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  color: #2a2626;
  line-height: 1.6em;
  width: 100%;

}

h1,
h2 {
  font-family: Neucha, sans-serif;
}

h1,
h2,
h3 {
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-style: 60px;
}

h3 {
  font-style: 34px;
}

header,
main,
footer {
  width: 1110px;
  text-align: center;

}

header {
  margin-top: 100px;
}

footer {
  margin-bottom: 100px;
}
